/* Mobil: 1 kolonne */
.grid_1-1-1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  justify-items: center;
  align-items: center;
}

img {
  clip-path: circle(50%);
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 20px;
}

/* Desktop: 4 kolonner, 6 rækker */
@media (min-width: 800px) {
  .grid_1-1-1-1-1-1 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media (min-width: 800px) {
  img {
    clip-path: circle(50%);
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: 20px;
  }
}
